.navbar {
    background-color: #43425D;
    height: 70px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;


}

.fas {
    filter: invert(1);
}

.navbar_list {
    list-style: none;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;

}


.navbar_items {
    text-decoration: none;
    height: 50px;
    width: 10rem;
    text-align: center;
    transition: 0.5s;
    font-size: 20px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 10px;
}

.logo h3 {
    font-size: 30px;
    color: white;
    margin-top: 15px;
    margin-left: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}